.com-wrapper {
    position: relative;

    // display: flex;
    // justify-content: stretch;
    // align-items: stretch;
    &>*:not(.com-wrapper-mask){
        width: 100%;  
        height: 100%;
    }
}

.com-wrapper-mask {
    @SIZE: 0px;
    position: absolute;
    top: -@SIZE;
    bottom: -@SIZE;
    left: -@SIZE;
    right: -@SIZE;

    border: 0px dashed green;

    // &:hover {
    //     background-color: rgba(199, 199, 11, 0.5);
    // }
}